body {
    background-color:peachpuff;
    font-family: 'Great Vibes';

}
p{
    font-family:'Great Vibes' ;
    background-color:peachpuff ;

}
h1{
    font-family: 'Great Vibes' ;
    background-color: peachpuff;

}
h2{
    font-family: 'Great Vibes';
    background-color: peachpuff;

}
img{
    font-family: 'Great Vibes';
    background-color: peachpuff;

}

padding:10px;

}
